header {
  background: $brand_color;
  color: white;

  font-size: $font_size;
  margin: 0 0 30px;

  nav#nav {
    position: relative;
    &.visible {
      ul {
        display: block;
        background-color: $font_color;

        li {
          display: block;
          a {
            display: block;
            width: 100%;
            color: white;
          }
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0;
    a {
      color: white;
      display: inline-block;
      padding: 20px 10px;
      text-decoration: none;
    }
  }
}

li a.flag {
  background: no-repeat center 42px;
  background-size: 24px;
  text-indent: -89999px;
  display: inline-block;
  text-align: left;
  width: 40px;
  &.flag_fr {
    background-image: url("../images/flags/fr.svg");
  }
  &.flag_en {
    background-image: url("../images/flags/en.svg");
  }
  &.flag_it {
    background-image: url("../images/flags/it.svg");
  }
}

nav.visible {
  li {
    a.flag {
      background-position: 20px center;
    }
  }
}

#menu_open {
  background: url("../images/menu.svg") no-repeat center center;
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 90px;
  width: 30px;
}

@media (min-width: 922px) {
  #menu_open {
    display: none;
  }
}
