

h1 {
    font-size: 4.5em;
    padding: 0 0 20px;
}

h2 {
    font-size: 3em;
    padding: 0 0 20px;
}


p {
    font-size: $font_size;
    padding: 0 0 20px;
}


strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}


ul,ol {
    margin: 0;
    padding: 0 0 10px;
}
li {
    font-size: $font_size;
    padding: 0 0 10px;
}


.error_message, .success_message {
    display: block;
    background: $brand_color;
    padding: 10px;
    margin: 0 0 20px;
    color: white;
    border-radius: 5px;

    &.success_message {
        background-color: adjust-hue($brand_color, 180);
    }
}


.tc_button {
    display: inline-block;
    background: $brand_color;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}


form {
    max-width: 500px;
    background: $light_grey;
    padding: 30px;
    margin: 0 0 30px;

    p {
        font-size: 1em;
    }

    label {
        font-size: $font_size;
    }

    input, textarea, button, select, option {
        width: 100%;
        padding: 15px;
        font-size: $font_size;
        font-family: $font_stack;
        border: 1px solid $font_color;
    }
    input[type="checkbox"] {
        width: auto;
    }
}



figure {
    width: 100%;
    margin: 0 0 20px;

    img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    figcaption {
        font-size: $font_size;
        font-style: italic;
        color: #999;
    }

    &.small_figure {

        max-width: 100px;
        display: inline-block;

    }
}


table {
    width: 100%;

    th, td {
        padding: 10px;
        font-size: $font_size;
        text-align: left;
        border-bottom: 1px solid $light_grey;


    }
    th {
        font-weight: bold;
    }
}
